<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">L S Costa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <lsc-image></lsc-image>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/remedy']" routerLinkActive="active">Remédios</a>
            </li>
        </ul>
    </div>
</nav>