<div class="justify-content-end row">
    <button (click)="goToCreate()" class="btn btn-primary mt-1 mb-4">Adicionar</button>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Posologia
            </th>
            <th>
                Dias da Semana
            </th>
            <th>
                Ativo
            </th>
        </tr>
    </thead>
    <tbody *ngIf="loading">
        <tr>
            <td colspan="4" class="bg-white text-center">
                <i class="fas fa-circle-notch fa-spin text-danger h2"></i>
            </td>
        </tr>

    </tbody>
    <tbody *ngIf="!loading">
        <tr *ngFor="let item of remedyList">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.posology}}
            </td>
            <td>
                {{item.daysOfWeek}}
            </td>
            <td *ngIf="item.isActived">
                Ativo
            </td>
            <td *ngIf="!item.isActived">
                Inativo
            </td>
        </tr>
    </tbody>
</table>