.nav-link{
    cursor: pointer;
}

.modal-dialog{
    max-width: 85vw;
    .inputfile{
        // background-color: red;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + .backup-label {
        display: inline-block;
    }

}